<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Worker</title>
</head>
<body>
<h1>Hello</h1>
    <form method="post" action="/new" th:object="${worker}">
      <label for="id"></label><input id="id" type="text" th:field="*{id}">
      <label for="firstname"></label><input id="firstname" type="text" th:field="*{firstname}">
      <label for="lastname"></label><input id="lastname" type="text" th:field="*{lastname}">
        <input type="submit">
    </form>
</body>
</html>